html, body {
    background:#fff;
    margin:0;
}

#canvas {
    position:fixed;
    background:#eee;
    opacity:1;
    z-index: -1;
    box-shadow: inset 0 0 150px 50px rgba(0,0,0,0.3);
}
#message{
    top:100px;
    background: rgba(255,255,255,0.7);
    position: absolute;
   height: auto;
    width: 70%;
    z-index: 999;
    margin-left: 15%;
    text-align: center;
    color: rgba(0,0,0,0.6);
    box-shadow: inset 0 -5px 10px 5px rgba(255,255,255,0.3),inset 0 -10px 10px 10px rgba(255,255,255,0.2);
    padding:3% 0;

}
#message img{
    width: 280px;
}
#footer{
    background: rgba(255,255,255,0.1);
    position: absolute;
    height: 40px;
    width: 100%;
    z-index: 800;
    margin: 0;
    text-align: center;
    color: rgba(0,0,0,0.6);
    bottom:0;
    box-shadow: inset 0 5px 10px 5px rgba(255,255,255,0.3),inset 0 10px 10px 10px rgba(255,255,255,0.2);
}
@media (max-width:900px){
    #message{
        width: 100%;
        margin: 0;
    }
}