<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="instructions">
    <h2>Instructions</h2>
    <ol>
        <li>
            Use Up/Down Arrow Keys to move.
        </li>
        <li>
            Use Spacebar to serve.
        </li>
    </ol>
</div>
<div class="status">
    <h2>Score</h2>

    <h3> Win:
        <small id="win_count"></small>
    </h3>
    <h3> Lose:
        <small id="lose_count"></small>
    </h3>

</div>
<script src="/javascripts/pong.js"></script>
</body>
</html>
