body{
    padding: 0;
    margin:0;
    padding-top:30px !important;
}/*
body:hover{
    padding-top:30px!important;
}
body:hover>header{
    display: block !important;
}*/
header{
    height:30px;
    position: fixed;
    width:100%;
    top:0;
    background:rgba(20,20,20,1);
    z-index:999;
    -webkit-app-region: drag;
    user-select: none;
}
header>ul{
    height:100%;
}
header>ul>li{
    list-style: none;
    float:right;
    height:100%;
    padding:5px;
}
header>ul>li>a{
    text-decoration: none;
    padding:5px;
    color:grey;
    -webkit-app-region: no-drag;
    
}
header>ul>li>a:hover{
    color:white;
}
header #windowClose i{
    font-size:18px;
}
header #windowMaximize i{
    font-size:15px;
}
header #windowMinimize i{
    font-size:15px;
    vertical-align: top;
}
#slide-out{
    top:30px;
    width:200px;
}
.container{
    width:100% !important;
    padding:0;
    margin:0;
}
main,footer{
    padding-left: 200px !important;
}
@media screen and (max-width:700px){
    main,footer{
        padding-left: 0 !important;
    }
}
#playlist,#playlist .collection{
    padding:0;
    margin:0;
}
[data-activates="slide-out"]{
    display:none;
}
#content{
    margin:0;
    padding:0;
}
.container .row{
    padding:0;
    margin:0 !important;
}
/*** RESET ***/
/**
 * CSS Reset via http://meyerweb.com/eric/tools/css/reset/
 */
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
 form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
 header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
     margin: 0;padding: 0;border: 0;font-size: 100%; font: inherit;vertical-align: baseline;
     }
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
     display: block;
     }
 body{
     line-height: 1;
     }
 ol, ul{
     list-style: none;
     }
 blockquote, q {
     quotes: none;
     }
 blockquote:before, blockquote:after, q:before, q:after{
     content: '';
     content: none;
     }
 table{
     border-collapse: collapse;
     border-spacing:  0;
     }
 a{
     text-decoration: none;
     }