<!DOCTYPE html>
<html>
<head>
    <title>NewArticle</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            height: 500,
            theme: 'modern',
            plugins: [
                'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                'insertdatetime media nonbreaking save table contextmenu directionality',
                'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
            ],
            toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
            image_advtab: true,
            templates: [
                { title: 'Test template 1', content: 'Test 1' },
                { title: 'Test template 2', content: 'Test 2' }
            ],
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tinymce.com/css/codepen.min.css'
            ]
        });
    </script>
</head>
<body>
<h1>New Article</h1>
Form:

<form method="post" action="api/createPost">
    <label for="title">Title:
        <input name="title" type="text" />
    </label>
    <label for="content">Content:
        <textarea id="mytextarea" name="content" ></textarea>
    </label>
    <label for="tags">Content:
        <input name="tags" type="text" />
    </label>
    <button type="submit">Submit</button>
</form>
</body>
</html>
